bda-webapp/war/WEB-INF/schema/certificationservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ms="http://localhost:48080/certificationservice/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="certificationservice"
	targetNamespace="http://localhost:48080/certificationservice/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://localhost:48080/certificationservice/" elementFormDefault="qualified">
			<xsd:complexType name="ProjectCertificationType">
				<xsd:sequence>
					<xsd:element name="product" type="ms:ProductType" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ProductType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="certificationStatus" type="ms:PracticeType" />
					<xsd:element name="bdaEnabled" type="ms:PracticeType" />
					<xsd:element name="singleCommandBuild" type="ms:PracticeType" />
					<xsd:element name="singleCommandDeploy" type="ms:PracticeType" />
					<xsd:element name="remoteUpgrade" type="ms:PracticeType" />
					<xsd:element name="dbIntegration" type="ms:PracticeType" />
					<xsd:element name="privateProperties" type="ms:PracticeType" />
					<xsd:element name="deploymentShakeout" type="ms:PracticeType" />
					<xsd:element name="templateValidation" type="ms:PracticeType" />
					<xsd:element name="ciBuild" type="ms:PracticeType" />
					<xsd:element name="commandLineInstall" type="ms:PracticeType" />
				</xsd:sequence>
			</xsd:complexType>			

			<xsd:complexType name="PracticeType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="status" type="xsd:string" />
					<xsd:element name="errorMessage" type="xsd:string" />
					<xsd:element name="errorLocation" type="xsd:string" />						
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="ProjectCertificationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="projectName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ProjectCertificationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="projectcertification" type="ms:ProjectCertificationType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ProjectCertificationRequest">
		<wsdl:part element="ms:ProjectCertificationRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ProjectCertificationResponse">
		<wsdl:part element="ms:ProjectCertificationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="certificationservice">
		<wsdl:operation name="GetProjectCertification">
			<wsdl:input message="ms:ProjectCertificationRequest" />
			<wsdl:output message="ms:ProjectCertificationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="certificationserviceSOAP" type="ms:certificationservice">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetProjectCertification">
			<soap:operation soapAction="http://localhost:48080/certificationservice/GetProjectCertification" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="certificationservice">
		<wsdl:port binding="ms:certificationserviceSOAP" name="certificationserviceSOAP">
			<soap:address location="http://localhost:48080/bda-webapp/services" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
